In [1]:
#ans1
shipements={101: [1,3,'14-03-2020','25-03-2020','Area1', 'Area6', 'Delivered', 198],
 102:[4,1,'18-06-2020','09-07-2020', 'Area2','Area4','Delivered',275],
 103:[2,3,'01-12-2020','NULL','Area5','Area1','In-transit',200], 
 104:[1,5,'23-06-2020','25-06-2020','Area1','Area4','Delivered',314]    ,
 105:[3,4,'29-08-2020','10-09-2020','Area5','Area3','Delivered',275]  ,
 106:[5,2,'28-06-2020','NULL','Area3','Area1','In-transit',270] }

In [2]:
shipements

{101: [1, 3, '14-03-2020', '25-03-2020', 'Area1', 'Area6', 'Delivered', 198],
 102: [4, 1, '18-06-2020', '09-07-2020', 'Area2', 'Area4', 'Delivered', 275],
 103: [2, 3, '01-12-2020', 'NULL', 'Area5', 'Area1', 'In-transit', 200],
 104: [1, 5, '23-06-2020', '25-06-2020', 'Area1', 'Area4', 'Delivered', 314],
 105: [3, 4, '29-08-2020', '10-09-2020', 'Area5', 'Area3', 'Delivered', 275],
 106: [5, 2, '28-06-2020', 'NULL', 'Area3', 'Area1', 'In-transit', 270]}

In [7]:
#ans2
clients={1:[1,['phillip']],2:[2,['Omega lll']],3:[3,['Ramaya']],
                      4:[4,['Romesh']],5:[5,['john']]}

In [5]:
clients={1:'phillip',2:'Omega lll',3:'Ramaya',4:'Romesh',5:'john'}

In [6]:
clients

{1: 'phillip', 2: 'Omega lll', 3: 'Ramaya', 4: 'Romesh', 5: 'john'}

In [11]:
for key,value in shipements.items():
    print(key,value)

101 [1, 3, '14-03-2020', '25-03-2020', 'Area1', 'Area6', 'Delivered', 198]
102 [4, 1, '18-06-2020', '09-07-2020', 'Area2', 'Area4', 'Delivered', 275]
103 [2, 3, '01-12-2020', 'NULL', 'Area5', 'Area1', 'In-transit', 200]
104 [1, 5, '23-06-2020', '25-06-2020', 'Area1', 'Area4', 'Delivered', 314]
105 [3, 4, '29-08-2020', '10-09-2020', 'Area5', 'Area3', 'Delivered', 275]
106 [5, 2, '28-06-2020', 'NULL', 'Area3', 'Area1', 'In-transit', 270]

In [33]:
#ans3
for x in shipements.keys():
    for y in clients.keys():
        if(shipements[x][0]==y):
            shipements[x][0]=clients[y]
        if(shipements[x][1]==y):
            shipements[x][1]=clients[y]

In [34]:
shipements

{101: ['phillip',
  'Ramaya',
  '14-03-2020',
  '25-03-2020',
  'Area1',
  'Area6',
  'Delivered',
  198],
 102: ['Romesh',
  'phillip',
  '18-06-2020',
  '09-07-2020',
  'Area2',
  'Area4',
  'Delivered',
  275],
 103: ['Omega lll',
  'Ramaya',
  '01-12-2020',
  'NULL',
  'Area5',
  'Area1',
  'In-transit',
  200],
 104: ['phillip',
  'john',
  '23-06-2020',
  '25-06-2020',
  'Area1',
  'Area4',
  'Delivered',
  314],
 105: ['Ramaya',
  'Romesh',
  '29-08-2020',
  '10-09-2020',
  'Area5',
  'Area3',
  'Delivered',
  275],
 106: ['john',
  'Omega lll',
  '28-06-2020',
  'NULL',
  'Area3',
  'Area1',
  'In-transit',
  270]}

In [19]:
list(clients.keys())[0]

1

In [36]:
#ans4
for x in shipements.keys():
    if(shipements[x][0]=='phillip'):
        print(shipements[x])

['phillip', 'Ramaya', '14-03-2020', '25-03-2020', 'Area1', 'Area6', 'Delivered', 198]
['phillip', 'john', '23-06-2020', '25-06-2020', 'Area1', 'Area4', 'Delivered', 314]

In [43]:
#ans5
for x in shipements.keys():
    if(shipements[x][1]=='Ramaya'):
        print(shipements[x])

['phillip', 'Ramaya', '14-03-2020', '25-03-2020', 'Area1', 'Area6', 'Delivered', 198]
['Omega lll', 'Ramaya', '01-12-2020', 'NULL', 'Area5', 'Area1', 'In-transit', 200]

In [44]:
#ans6
for x in shipements.keys():
    if(shipements[x][6]=='In-transit'):
        print(shipements[x])

['Omega lll', 'Ramaya', '01-12-2020', 'NULL', 'Area5', 'Area1', 'In-transit', 200]
['john', 'Omega lll', '28-06-2020', 'NULL', 'Area3', 'Area1', 'In-transit', 270]

In [155]:
#ans7
for x in shipements.keys():
    if(shipements[x][3]!='NULL'):
        s=date(int((shipements[x][2]).split('-')[2]),int((shipements[x][2]).split('-')[1]),
     int((shipements[x][2]).split('-')[0]))-date(int((shipements[x][3]).split('-')[2]),
     int((shipements[x][3]).split('-')[1]),int((shipements[x][3]).split('-')[0]))
        if(abs(s.days)<=7):
            print(shipements[x])

['phillip', 'john', '23-06-2020', '25-06-2020', 'Area1', 'Area4', 'Delivered', 314]

In [176]:
#ans8
from datetime import date
for x in shipements.keys():
    if(shipements[x][3]=='NULL'):
        print(shipements[x])
    if(shipements[x][3]!='NULL'):
        s=date(int((shipements[x][2]).split('-')[2]),int((shipements[x][2]).split('-')[1]),
     int((shipements[x][2]).split('-')[0]))-date(int((shipements[x][3]).split('-')[2]),
     int((shipements[x][3]).split('-')[1]),int((shipements[x][3]).split('-')[0]))
        if(abs(s.days)>15):
            print(shipements[x])

['Romesh', 'phillip', '18-06-2020', '09-07-2020', 'Area2', 'Area4', 'Delivered', 275]
['Omega lll', 'Ramaya', '01-12-2020', 'NULL', 'Area5', 'Area1', 'In-transit', 200]
['john', 'Omega lll', '28-06-2020', 'NULL', 'Area3', 'Area1', 'In-transit', 270]

In [19]:
#ans9
import numpy as np
a=np.arange(1,37).reshape(6,6)
a[0]=[0,1,0,0,0,1]
a[1]=[1,0,1,1,0,0]
a[2]=[0,1,0,1,0,0]
a[3]=[0,1,1,0,1,0]
a[4]=[0,0,0,1,0,0]
a[5]=[1,0,0,0,0,0]

In [37]:
for i in range(0,6):
    print("Area",i+1,"->",end="")
    for j in range(0,6):
        if(a[i][j]==1):
            print(j+1,"->",end="")

Area 1 ->2 ->6 ->Area 2 ->1 ->3 ->4 ->Area 3 ->2 ->4 ->Area 4 ->2 ->3 ->5 ->Area 5 ->4 ->Area 6 ->1 ->

In [37]:
shipements

{101: ['phillip',
  'Ramaya',
  '14-03-2020',
  '25-03-2020',
  'Area1',
  'Area6',
  'Delivered',
  198],
 102: ['Romesh',
  'phillip',
  '18-06-2020',
  '09-07-2020',
  'Area2',
  'Area4',
  'Delivered',
  275],
 103: ['Omega lll',
  'Ramaya',
  '01-12-2020',
  'NULL',
  'Area5',
  'Area1',
  'In-transit',
  200],
 104: ['phillip',
  'john',
  '23-06-2020',
  '25-06-2020',
  'Area1',
  'Area4',
  'Delivered',
  314],
 105: ['Ramaya',
  'Romesh',
  '29-08-2020',
  '10-09-2020',
  'Area5',
  'Area3',
  'Delivered',
  275],
 106: ['john',
  'Omega lll',
  '28-06-2020',
  'NULL',
  'Area3',
  'Area1',
  'In-transit',
  270]}